.articles {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
  padding: 40px;
}

.article {
  display: grid;
  grid-template:
    "image title" 70px
    "image description" 110px
    "image info" 40px
    /30% 65%;
  grid-column-gap: 5%;
  border-radius: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.45);
}

.article__image {
  grid-area: image;
}

.article__image_img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.45);
}
.article__title {
  grid-area: title;
  font-family: "Gentium";
  padding: 5px;
}

.article__description {
  grid-area: description;
  font-family: "Gentium-Reg";
  padding: 5px;
  font-size: 100%;
}

.article__info {
  grid-area: info;
  display: grid;
  align-content: end;
  grid-column-gap: 15px;
  grid-template:
    "author button" 20px
    "time button" 20px;
}

.article__info_author {
  grid-area: author;
  font-family: "Gentium-Reg";
  align-self: self-end;
}

.article__info_time {
  grid-area: time;
  font-family: "Gentium-Reg";
  align-self: self-end;
}

.article__info_form {
  justify-self: right;
}

.article__info_button {
  grid-area: button;
  font-family: "Gentium";
  height: 40px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  font-size: 18px;
  width: 100px;
}

.article__info_label {
  font-family: "Gentium";
}

.article__info_button:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: #FFE6EB;
}

.article__info_button:focus {
  outline: none;
}

@media screen and (min-width: 100px) and (max-width: 950px) {
  .articles {
    padding: 20px 0;
  }

  .article {
    display: grid;
    grid-template:
      "image" 200px
      "title"
      "description"
      "info"
      /100%;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    min-width: 310px;
  }

  .article__title {
    font-size: 120%;
  }

  .article__image {
    justify-self: center;
    width: 100%;
  }

  .article__image_img {
    width: auto;
    height: 90%;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.45);
  }

  .article__info {
    grid-template:
      "author"
      "time" 20px
      "button" 40px;
    grid-row-gap: 10px; 
  }

  .article__info_form {
    width: 100%;
  }

  .article__info_button {
    width: 100%;
  }

  .article__description,
  .article__title {
    padding: 10px 0;
  }
}

@media screen and (min-width: 100px) and (max-width: 430px) {
  .article__image_img {
    max-width: 315px;
  }
}

@media only screen and (max-device-width: 480px) {
  .article__info_author,
  .article__info_time,
  .article__description {
    font-size: 35%;
  }

  .article__title {
    font-size: 45%;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){  
  .articles {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
  }

  .article__image_img {
    width: 350px;
    height: auto;
    float: left;
    margin: 0 15px 10px 0;
  }

  .article__info_button {
    margin-top: 10px;
  }

  .article {
    margin-bottom: 20px;
    width: 100%;
  }
}