<div class="controls">
  <select (change)="onChange($event.target.value)" class="selectSource" [(ngModel)]="nrSelect">
    <option *ngFor="let source of sourceList" value={{source.id}}>{{source.name}}</option>
  </select>
  <input type='text' placeholder="Type your text" class="filter" #filterInput>
  <button class="filter-button" (click)="changeFilter(filterInput.value)">Filter</button>
  <label class="createdByMe">
    <input type="checkbox" [disabled]="!userService.isAuthorized()" (change)="checkboxChange($event.target.checked)" [checked]="checked">
      Only created by me
  </label>
  <button [disabled]="!userService.isAuthorized()" class="addArticle" routerLink="/create">Add article</button>
</div>
