<article class='article'>
  <div class='article__image'>
    <img alt='Article intro picture' src={{article.urlToImage}} class='article__image_img'>
  </div>
  <h2 class='article__title'>{{article.title}}</h2>
  <p class='article__description'>{{article.description}}</p>
  <div class='article__info'>
    <time><span class='article__info_label'>Published at: </span>{{article.publishedAt}}</time>
  </div> 
  <div class="article__buttons">
    <button class="article__button" routerLink="/edit" [attr.disabled]="userService.isAuthorized() ? null : ''">Edit</button>
    <button class='article__button' [attr.disabled]="userService.isAuthorized() ? null : ''" (click)="onDelete()">Delete</button>
    <button class='article__button' routerLink="/news/{{article.id}}">Read</button>
  </div>
</article>