<article class='article'>
  <div class='article__image'>
    <img alt='Article intro picture' src={{article.urlToImage}} class='article__image_img'>
  </div>
  <h2 class='article__title'>{{article.title}}</h2>
  <p class='article__description'>{{article.description}}</p>
  <div class='article__info'>
    <time><span class='article__info_label'>Published at: </span>{{article.publishedAt}}</time>
  </div> 
  <div class="article__buttons">
    <form method="get" action="/edit" #formEdit>
      <button type="submit" class="article__button" [attr.disabled]="userService.isAuthorized() ? null : ''" (click)="formEdit.submit()">Edit</button>
    </form> 
    <button type="submit" class='article__button' [attr.disabled]="userService.isAuthorized() ? null : ''">Delete</button>
    <form method="get" action="/news/{{article.id}}" #form>
      <button type="submit" class='article__button' (click)="form.submit()">Read</button>
    </form>
  </div>
</article>