<app-title></app-title>
<article class='article'>
  <div class='article__image'>
    <img alt='Article intro picture' src={{article.urlToImage}} class='article__image_img'>
  </div>
  <h2 class='article__title'>{{article.title}}</h2>
  <p class='article__description'>{{article.description}}</p>
  <div class='article__info'>
    <time class='article__info_time'><span class='article__info_label'>Published at: </span>{{article.publishedAt}}</time>
    <form class='article__info_form' method="get" action="/edit">
      <button type="submit" class='article__info_button' [attr.disabled]="UserService.isAuthorized() ? null : ''">Edit</button>
    </form> 
    <button type="submit" class='article__info_button' [attr.disabled]="UserService.isAuthorized() ? null : ''">Delete</button>
    <form class='article__info_form' method="get" action="/news/{{article.id}}">
      <button type="submit" class='article__info_button'>Read</button>
    </form>
  </div>
</article>
