<app-title></app-title>
<article class='full-article'>
  <div class='full-article__image'>
    <img alt='Article intro picture' src={{article.urlToImage}} class='full-article__image_img'>
  </div>
  <h2 class='full-article__title'>{{article.title}}</h2>
  <p class='full-article__description'>{{article.description}}</p>
  <div class='full-article__info'>
    <time class='full-article__info_time'>Published at: {{article.publishedAt}}</time>
    <p class='full-article__info_author'>Author: {{article.author || 'Unknown'}}</p>
  </div>
  <div class="full-article__buttons">
    <form class='article__info_form' method="get" action="/edit">
      <button class='full-article__button' routerLink="/edit" [attr.disabled]="userService.isAuthorized() ? null : ''">Edit</button>
    </form> 
    <button class='full-article__button' [attr.disabled]="userService.isAuthorized() ? null : ''">Delete</button>
  </div>
</article>
<div class="free-space"></div>
